{% extends 'blog/base.html' %}

{% block content %}

<table class="table_Chk">
	<tr><th>取得日		</th><td>{{ post.start_date }}</td></tr>
	<tr><th>期間		</th><td>{{ post.get_kikan_display }}</td></tr>
	<tr><th>休暇種類	</th><td>{{ post.get_kyuka_type_display }}</td></tr>
</table>
<br>
<table class="table_Chk">
	<tr><th>部署		</th><td>{{ post.busyo }}</td></tr>
	<tr><th>名前		</th><td>{{ post.name }}</td></tr>
	<tr><th>理由		</th><td>{{ post.riyuu }}</td></tr>
	<tr><th>申請日		</th><td>{{ post.published_date }}</td></tr>
</table>

{% endblock %}