{% extends 'blog/base.html' %}

{% block content %}

<h2>社内規則</h2>

<pre onCopy='return false;'>
賃金規定

第1条　休日、残業、早出規定

	1項　休日出した場合
		1.体日出するときは、事前に体日出眉けを提出すること.
		2.出社時、帰社時には、必ずタイムカードを押す.
		3.現当に直行する当合は、客先の任岩に就業時間を訌明してもらうこと・
		4.出張の場合は、研修・教育・習・展示会・見学会等直接売上に上がらない出
		張は、日当のみとし体出手当は支給しない.
		5.休出手当は、低人の時問単価の1.35缶に、証明された時問を乗じて計算さ
		れる.
		6.体日出動して残業する場合は、18時00分以降も手当を支給する.住し、
		22時00分以降まで仕亭が筱く合は、30分問の体を取りその同に食事
		をとること.
		7.体日出助をした場合、昼食代として一率500円を支給する.


	2項　残業した場合
		1.残業する場合は、事前に残業届けを提出すること.
		2.単位は、18時00分より1時間単位とする.17時30分~18時は休憩.
		3.残業が22時00分まで続く場合は、30分問の休患を取りその問に食事
		をとること.
		4.残業手当は、個人の時問単伍の1.25倍に、証明された時問を乗じて計算さ
		れる.
		5.残業を22時以洋6時までした場合は、深ま残業手当として個人の時間単価の
		1.5倍に、証明された時同を乗じて計算される.
		6.残業を22詩00分以降までした場合は、会社から食事代として500円を支
		払う.


	3項　早出した場合
		1.現作業の性格上定時以前に作業しなければならない場合は、早出手当を台
		する.
		2.時問は、現場作業開始時間より1時間単位とする.
		3.早出手当は、個人の時問単価の1.25倍に、証明された時間を乗じて計算さ
		れる.




第2条　年末年始手当
	12月30日~1月5日の日出に対し、休日出島手当
	以外に1日3000円を支給する.
	
	
	


第3条　曻給・手当等
	1項	昇給			曻給は、毎月４月とする.
	2項	遅刻・早退		1回につき30分単位の給とする・
	3項	皆勤手当		欠動等した場合は下出の通りとする.
		遅刻　又は　早退	１回	手当全額支給
		遅刻　又は　早退	２回	手当半額支給
		欠動				１回	手当半額支給
		遅刻　又は　早退	３回～	手当無し
		欠動				２回～	手当無し
	私用の外出は、又は早退の投いとする.


第4章　家族手当
	扶義者が1人以上いる場合に手当を支給する.


第5章　試用期問中の給与
	その期間中の者は、試用期間の給与とする.
	新たに採用された者は、6ヶ月間の試用期間をおく為、


第6章　通勤手当
	1.通勤費は住所変更のつど、住所・距離の変更を行う.
	2.通動費は、最高16.000円までとする.
	3.会社から片道1km以内は、通手当は支給しない.
	4.二輪車で通勤の場合は、通手当の半額とする.
	5.パスで通新の場合は、定期券を会社にみせ、それに基づいて支給
		する.但し、パス通新の場合も16,000円を限度とする.

	***事前に提出した届けと実際に就業した時問が変更した場合は、次後迚やかに冠けを
	変更しなければならない.変更してない届出が不明賍なものは、手当を支しない.

	***全て客先の証明か所属上長の証明が給料計算期問までに、タイムカードと共に経理
	にて提出されてなければ支給しない.

	***以上、上記以外の問題が生じた場合は、全て所属上長に相談すること・

	※※※上記項目は、状況により変更することがある.



出張手当変更

	1.日帰り
		①食事代として、日当\1,000
		②但し、夜9時以降の場合半1,000プラス
		③朝7時以前に出張する場合苧1,000プラス

	2.泊まり
		①宿泊費は領収書にて清算する.
			(客先が予約した以外は営業が宿泊先を予約する)
		②朝夕食代が別の場合は、それぞれ1.00を上限として領収書
			にて清算する.
		③宿泊費とは別に食事代として、日当\1,000
		④夜9時以降作業が読きそうな場合は、\1,000プラス




この就業規則は、労働基準法に基づき株式会社ツカサシステ事業の発展を期すると会
に従業員の地位の安定をはかり、会社の秩序の保持に努めるために定めたものである.


第1章　総則

	(適用規定)
	第1条従業員の就業に開する事項は、この規則及びこれに付属する諸規定の定める
所による.但し、特定の従業員について異なる定めをした当合はこのりでは
ない.
(逆守義
2条従業員は、会社の社会的使命及び会社の方針をよく認職しその業務に与す
る誇りを持ち、この規則及びこれに付属する諸規定をり、所属上長の指示に
従い職場秩序を持し、所属上長は常に従業員の人格を尊重しお互いに協力し
てその職務を行しなければならない.
(均等待退)
3条従業員はその国r,信条又は社会的身分の如何によって環場生活の上に差別
的取り長いを受けることはない.
(従業員の定物
4条この規則で従業員とは、本人の意志に基づき第6条に定める手続きを経て探
用された、会社の業に従事する者をいう.
(督もしくは管理の地位にある者の定義)
この規則で監督もしくは管理の地位にある者とは次に掲げる者で、この規
則の定める労働時間、休日、休載に関する規定を適用しない.
0部長・課長
5条
第2章
人事
第1節採用
(採用)
6条会社は定期刈時に就職を希望する者より、次の2つの条件を具備する者
の中から道考試盟に合掩し、所定の手きを経た者を従業員として採用する.
1.満15歳以上の者で、義務教育の課程を終了した者
2.会社所定の審立を実施して適当と認めた者
(届出書須)
7条新たに採用された者は、次の書頗を提出しなければならない.
1.自の最歴書
2.最近3ヶ月以内に影した写真







第
第
3.最近3ヶ月以内の住民
4.保証人の第約書
5.必要により卒業証明書、学業成績証明書、資格証明、免許証の写し
6.その他各号の他、会社が必要とめた書類
各号の提出書頃の記載事項に変更があった場合は、その都度やかに屈け
出なければならない.
(試用期問)
8条新たに新された老は、6カ月問の試用期問をおく.試用期問中に従業員と
して不適当と認める場合は、予告のうえ採月を取り消すことがある.但し、試
月期間終了と何時に社員に缶用された者は、その試用期間を誹続年歌に算入す
る.
保約期間)
9条採用に際し雇用期問について定めをするときには、その期問は一定の事業の
完了に必要な間スは、1カ年以内とする.但し、更新は妨げない.
第2節異動
置転
第10条従業員の転効スは、配替えは次の合に命ずることがある。この場合、従
業員は正当な理白がなければ拒むことができない.
1.役付任免又は、免の場合
2.事業の拡大、小又は、職制改正の場合
3.局部的に過又は、不足を生じた場合
4.本人の適職と認められる職に移す場合
5.復麻者で以前の務につき得ない場合
6.その他経営上必要と認められる場合
(異動の弖盟
第11条鼬条により異動を命ぜられた者は、直ちに所定の引ぎを行い指定された日
までに所定の任務に献かなければならない.また、重要事項は、文書をもって
担当盟長を通じ部長に提出する.但し、項によることが出来ない合はその
事由を申し出て許可を受けなければならない.
帛3節4
(仆職の事由)
第12条1項従業員が次の各号の一に当する場合は体職を命ずる.
1.業務外の疾病により、欠が引き続き2ヶ月に及んだ時
2.自己の合で欠効が1ヶ月に及んだ時
3.会社の都合により、会社外の業防に従事する時
4.官又は公職にき、会社の業務に支障があると認めた時







5.前各号の他特別の事がある時
2項前項第1号及び第2号の苡当者が、欠動途中で出してもその出新期
問が30日末満(体日を含む)の場合は、その前後の欠勤の期問を通
算する.
(仆職期閭)
第13条1項前条の規定による期の通りとする.
1.前条第1項第1条の場合
新年気
1年未ー
5年未満ー
10年未満ー
10年以上ー
休期間
1ヶ月
:カ年
2ヵ年
3ヵ年
但し、事業により休期間を延長することがある.
2.前条第1項第2号の場合ー
1カ年を超えない期間
会社が定めた間
3.前条第1項第3号及び第5号の場合ー
4.前条第1項第4号の場合
2項休職期間の給与はしない.
(体問満了時の取扱い)
官職又は、公在任期間
第14条体職期間が満了したときの取災は次の通りとする.
第4節退職・解
に加算しない.
3.休職期同は、第12条第1項3号及び第5号によるものの他は鼬続年
から通算する物
2.前項の場合、復職後同一の事由により久島した合は、最初の休我住
する病院の認定を要する.
復職まいを提出し可のあった岩合は、役職させる.但し、会社の指定
第15条1.第12条第1項第1号の場合、休職第問中に休環事由が消した時は、
2.第12条第1項第3号及び第4号、第5号の合は蝨させる.
1.第12条第1項第1号及び第2号の合は退職とする.
(復印
用することがある.用条件については、その部度役員会により決定する.
年度末日とする.但し、業務の部合により特に会社が必要と認めた者に限り再
第17条従員の定年は澱60歳とし、その退職期日は定年に達した年の会社の会計
(定年)
2.会社の承認があるまでは、従前の業務に従事しなければならない.
会社の承認を受けなければならない.
日前(役付者は、1ヶ月以前)までに迅頭いを所属上長を経て提出し、
第16条1.従業員が自己の都合によって退職しようとする場合は、少なくとも15
(退職手き)






(解及び退職事由)
第18条従員が次の各号の一に靉当する場合は、当の当日をもって退とする.
11.定年に進した時
業が不可能となった時
10.天災地変その他やむを得ない事由のあ、会社の全部スは、一部の事
9.雇又は、旨退載に処せられた時
8.試用期間中の者でをむ要と認めた時
7.法令の定めるところにより、打ち切りをおこなった時
6.技術又は能事が低劣の為、就業に適さない認められた時
5.精神又は、身体に教があって業務に耐えられないと認められた特
心雇用期問に定めがあって、その期間が満了したとき
3.休用間が満了して復させられない時
2.退職を額いでて承認された時
1.死亡した時
(即時雇)
する物は支給又は返選する.
2.会社は退職又は、解雇の日から7日以内に金その也従業員の特利に属
の也会社から貨与された物を直ちに返納しなければならない.
第221.従員が資格を失う合は、業務の引を行い健保険保険者訌、そ
(業務リ及び全品の返還)
2.女子の産前6退問、産使8週間休艇する問及びその後30日間
1.業務上の傴病によりま菱の為の休期間及びその長30日問
号及び第10号の場合は、この以りでない.
第21条従且が、次の各号の一に当する期問は解しない.なし、第18条第7
(解品も)
3.第18条第10号の場合
2.第18条第8号の場合
1.第18条第4号ないし第6月の場合
場合には印日解度する.
の平均金を支給して解雇する。住し、所格労働半監督の認定を受けた
第20条従業具が次の各号に当する場合は、30日前に予告するカ以は、30日分
(予告解)
3.前条第9条の場合
2.前条第7号の場合
1.前条第3号の場合
第19条従業員が次の各号に設当する合は、予告期問を設けないする.
第3
第1節就業時間・休息及び休日




業時問)
第23条動務寿開は休時問を除き、1日7時問40分とします.
!退については「1年単位の変形労時問制」を採用し、別表年間休日カレン
ダーにより日をり振ることで、平均して40時間をえないものとする.
始業、終業の時則及び休時間は、次のとおりとする。
蚰ミ終業
12:(C)&12:50
庁の鈼可を得て時間外又は休日鼬務させることがある.
第30災害その他やむを得ない事山のある合は本節の規定にかかわらず、行政官
(非常時就剽
がある岩合はこの限りでない.
週1回の日に助務させることはない.但し、4週間を通じて4回以上の休日
第29従業員のうち満18歳未汽の者については、第28条の規定にかかわらず、
(時閲外動務の自段)
歌を代する者と協定して早出、残業、又は休日出効させることがある.
28業務の都合により、第23条及び第25条の規定にかかわらず従業員の過半
(時間外及び休日出助)
第2節時問外及び休日出助
みなす.
労饐時間を算定しがたいときは、第23条の通常の労新時間に労対したものと
第27従業員が出張その他会社の月務をおびて事所仙で務する合において、
(出張従業員の灯務時間)
る.
2.前項の場合は、予め通告するものとする.振替期限を延長することがあ
条の休日を一週問以内の他の日に振り智えることがある.
第26条1.業務の部合その他やむを得ない事白によって臨時に幺要ある場合は、前
(休日特)
ある.
日を中心とした体日.なお業の令により、徠日のりえを行うことが
第25条体日は、毎日曜日(桜定体日),その他別表年間休日カレンダーによる土
(休日)
ー属上長の可を得なければならない.(鈼可は口頭によるものとする)
第24条従員は、時間を自由に利用することができる.但し、社外に出る場合
(休)
がある.
し、曵務の都合によりこの始ミ、終業及び休爼の時刻を変更すること
14:50~15:00
17:30
9:00





業時問)
第23条動務寿開は休時問を除き、1日7時問40分とします.
!退については「1年単位の変形労時問制」を採用し、別表年間休日カレン
ダーにより日をり振ることで、平均して40時間をえないものとする.
始業、終業の時則及び休時間は、次のとおりとする。
蚰ミ終業
12:(C)&12:50
庁の鈼可を得て時間外又は休日鼬務させることがある.
第30災害その他やむを得ない事山のある合は本節の規定にかかわらず、行政官
(非常時就剽
がある岩合はこの限りでない.
週1回の日に助務させることはない.但し、4週間を通じて4回以上の休日
第29従業員のうち満18歳未汽の者については、第28条の規定にかかわらず、
(時閲外動務の自段)
歌を代する者と協定して早出、残業、又は休日出効させることがある.
28業務の都合により、第23条及び第25条の規定にかかわらず従業員の過半
(時間外及び休日出助)
第2節時問外及び休日出助
みなす.
労饐時間を算定しがたいときは、第23条の通常の労新時間に労対したものと
第27従業員が出張その他会社の月務をおびて事所仙で務する合において、
(出張従業員の灯務時間)
る.
2.前項の場合は、予め通告するものとする.振替期限を延長することがあ
条の休日を一週問以内の他の日に振り智えることがある.
第26条1.業務の部合その他やむを得ない事白によって臨時に幺要ある場合は、前
(休日特)
ある.
日を中心とした体日.なお業の令により、徠日のりえを行うことが
第25条体日は、毎日曜日(桜定体日),その他別表年間休日カレンダーによる土
(休日)
ー属上長の可を得なければならない.(鈼可は口頭によるものとする)
第24条従員は、時間を自由に利用することができる.但し、社外に出る場合
(休)
がある.
し、曵務の都合によりこの始ミ、終業及び休爼の時刻を変更すること
14:50~15:00
17:30
9:00




11.天災地変その他本人の資に帰することの出来ない災害によって業
出来ないと認められるとき.
12.その他各号に準じ会吐がジめた時
会社が必要と認めた日数
その問
2項第1号及び第4号、第5号、第9号の岩合において帰等の
隍に日数を必要とめた時は、所要日数を加えることがある。
3項本条の除服日数は、を号に記する発生事項の日より起算するものと
する.
第35条1.従崇員が特別有給休暇を受けようとするち合は、事前に届出を所属上長
を経て総務部に届出て承認を受けなければならない.但し、やむを得な
い場合は、次後速やかに届け出るものとする.
2.前項の合、会社は必要により記明書を提出させることがある.
第4章全鉄給付
(求)
第36条従業員の給与については、負定めるところにより支給する.
(旅安)
第37条従業員が社月で出張した合の旅費については、出張規定の定めるところに
より支給する.
(退職金)
第38条従案員の職会については退職金規定の定めるところによりする.(中
小企業退職金共済金により支払うこととする.)
(祝い金・弔祭料金)
第39条従業員に対する弔金贈与については、襲弔見舞金規定の定めるところによ
り支給する.
(出張及び退出
第40条1.従業員は出新及び退社時刻を厳守しなければならない.但し、この組則
第5条に規定する者についてはこの限りではない.
2.出動及び退社の時は、自らその時刻をタイムカードに記録しなければな
らない.旦し、第27条に談当するときはそのりでない.
(遅刻、早退及び外出)
第41条1.遅刻又は早退しようとするときは、事前に所属上長の許可を得て遅刻、
早退けを総務部に提出しなければならない.但し、事前に新げられな
い場合は事後やかに関係を提出すること.
2.公用、私用を周わず外出しようとするときは、予め外出届けを所蹊上長
に提出し、所属上長の許可を受けなければならない。
3.本条の届出は、式を使って行うものとする.






11.天災地変その他本人の資に帰することの出来ない災害によって業
出来ないと認められるとき.
12.その他各号に準じ会吐がジめた時
会社が必要と認めた日数
その問
2項第1号及び第4号、第5号、第9号の岩合において帰等の
隍に日数を必要とめた時は、所要日数を加えることがある。
3項本条の除服日数は、を号に記する発生事項の日より起算するものと
する.
第35条1.従崇員が特別有給休暇を受けようとするち合は、事前に届出を所属上長
を経て総務部に届出て承認を受けなければならない.但し、やむを得な
い場合は、次後速やかに届け出るものとする.
2.前項の合、会社は必要により記明書を提出させることがある.
第4章全鉄給付
(求)
第36条従業員の給与については、負定めるところにより支給する.
(旅安)
第37条従業員が社月で出張した合の旅費については、出張規定の定めるところに
より支給する.
(退職金)
第38条従案員の職会については退職金規定の定めるところによりする.(中
小企業退職金共済金により支払うこととする.)
(祝い金・弔祭料金)
第39条従業員に対する弔金贈与については、襲弔見舞金規定の定めるところによ
り支給する.
(出張及び退出
第40条1.従業員は出新及び退社時刻を厳守しなければならない.但し、この組則
第5条に規定する者についてはこの限りではない.
2.出動及び退社の時は、自らその時刻をタイムカードに記録しなければな
らない.旦し、第27条に談当するときはそのりでない.
(遅刻、早退及び外出)
第41条1.遅刻又は早退しようとするときは、事前に所属上長の許可を得て遅刻、
早退けを総務部に提出しなければならない.但し、事前に新げられな
い場合は事後やかに関係を提出すること.
2.公用、私用を周わず外出しようとするときは、予め外出届けを所蹊上長
に提出し、所属上長の許可を受けなければならない。
3.本条の届出は、式を使って行うものとする.





11.天災地変その他本人の資に帰することの出来ない災害によって業
出来ないと認められるとき.
12.その他各号に準じ会吐がジめた時
会社が必要と認めた日数
その問
2項第1号及び第4号、第5号、第9号の岩合において帰等の
隍に日数を必要とめた時は、所要日数を加えることがある。
3項本条の除服日数は、を号に記する発生事項の日より起算するものと
する.
第35条1.従崇員が特別有給休暇を受けようとするち合は、事前に届出を所属上長
を経て総務部に届出て承認を受けなければならない.但し、やむを得な
い場合は、次後速やかに届け出るものとする.
2.前項の合、会社は必要により記明書を提出させることがある.
第4章全鉄給付
(求)
第36条従業員の給与については、負定めるところにより支給する.
(旅安)
第37条従業員が社月で出張した合の旅費については、出張規定の定めるところに
より支給する.
(退職金)
第38条従案員の職会については退職金規定の定めるところによりする.(中
小企業退職金共済金により支払うこととする.)
(祝い金・弔祭料金)
第39条従業員に対する弔金贈与については、襲弔見舞金規定の定めるところによ
り支給する.
(出張及び退出
第40条1.従業員は出新及び退社時刻を厳守しなければならない.但し、この組則
第5条に規定する者についてはこの限りではない.
2.出動及び退社の時は、自らその時刻をタイムカードに記録しなければな
らない.旦し、第27条に談当するときはそのりでない.
(遅刻、早退及び外出)
第41条1.遅刻又は早退しようとするときは、事前に所属上長の許可を得て遅刻、
早退けを総務部に提出しなければならない.但し、事前に新げられな
い場合は事後やかに関係を提出すること.
2.公用、私用を周わず外出しようとするときは、予め外出届けを所蹊上長
に提出し、所属上長の許可を受けなければならない。
3.本条の届出は、式を使って行うものとする.





1.満18歳に満たない者で入社後6カ月以内の者
2.ッペルクリン反応の性転移後1カ年以内の者
3.病気にかかりは、身体が弱く一定の保当が必要と認める者
4.虹婦
5.その他第54第の床診新の結果医師がむ要とめる者
第57条従業員が次の各号の一に政当するときは、医師の新に基づき就を禁止す
2項従業員は、前項の措置に従わなければならない。
る.
病又は重病にかかっている者で充分回復していない者
5.前各号の他、法令によって定められた疾病にかかっている者及び伝染
る者
その他の疾病にかかっている者であって就のため思化する恐れのあ
4.設、結広心嶽病、関節、けんしよう炎、急性泌尿お病、
3.神分裂症、呆病、その地精神病患者で就業することが不適当な者
る伝染性底疾患にかかっている者及び、伝染当原保有者
贋漏性結度炎、著しく伝染の恐れのあるトラホームそのこれに準ず
2.病毒伝招の恐れがある結核、梅毒、かいせんその他の伝染膚疾患、
1.再伺熱、麻、その他これに準ずる伝染病にかかっている者
出てその指示を受けなければならない.
第59条従業員は、務時問中に発病又は、負併したときは、遠やかに所上長に石
(報告義務)
あるときは直ちにその旨会社に屈け出なければならない.
第58条従業員が同一世帯もしくはその近隣に法定伝染病が発生し又は、そのいが
(伝染病の予防措置)
第6章
(教育引)
教育訓
第60条1.会社は従業員に教育の各課程を通じて当社の全貎に接し、理自と実戦の
教育により基本的実務知識を体得さえ、誠実にして良識ある商業人に速
やかに成るようにすると共に積極的且つ合理的に業務を逢行せしめる為
に行う。
2.会社が行う教育菻の期間は就業とみなす.
(受講義務)
第6一条従業員は、正当な理曲がなく教育ーを担むことが出来ない.
(任意教育)
第62条従業員が個人的に教育訓を受けようとするときは、必要書類をえ所属上
長を経て総務部に中鰤し役員会が承認したときは、その費用の全部又は、一部
支給することがある.




第63条
第7章表彰及び
第1節表彰
従業員が、次の一に談当する場合は表彰する.
6.その胆各号に準じま彰に値する行のあったとき
5.国家的社会的功績があり、衆の挨範となるような行為のあったとき
4.災害を未然に防止し、スは、災告の際特に功労のあったとき
3.務上有益な発明改良をし、又は災害の際特に功労のあったとき
2・品行方正、技術優秀、業務にでの換範となるとき
1.永年実に勤続したとき
(表彰の方法)
(表彰の種)
はニ以上を副賞として付与する.
第64表彰は賞状を与し、その程度に応じ賞品、龕全、特別有給休のうち一ス
6.その也
5.功労
4.善行
3.工夫改賞
2.業績向上賞
1.永年勁続
第65条諟彰は、次により口人スは団体に対してこれを諟彰する.
の利は、会社に属するものとし、その償については別に定める。
第67条従業員の業務に関する発見、考案、改良の特許権、実用新権、その也一切
(無本財産権)
検討し、役員会に付し、社長の決を経てこれを行う.
第66ま彰は、毎年3月2:日より、3月20日迄の各人の行動事実を各部長が
(表影の手貌き)
3.供戒は事備によりこれを会社内に提示することがある
らかであると認められるときはを兌じて訓戒に止めることが出来る
2.反町かであるか特に備状的気の余地があるか、又は、改後の情が明
第68条1.従業員は.この節の規定による場合のほかをうけることはない
第2節懲成
(感成)
第69条戒は次の5日とし、その一スはニ以上を住科する.
(の種類)
貴
始末書をとり、来を成める.



2.減給
3.出動停止
4.降職
5・停職
6.論旨退
7.懲戎解
(自宅師慎)
始末書をとり、1回については、平均飛の半日分以
内を減給する.住し、その総額において当談給与支払
い期の給与総の10分の1を超えることはない.
始末書をとり、10日以内出副を停止し、その期間中
の賃金を支給しない.
始末書をとり、現在の位より格下げする.
始末書をとり、2ゲ月以内の期閭を定めて停職し、そ
の期問の給与の全額スは、一部を衄しない.
退願いを堤出するよう勧告し、これを提出しないと
きは雇とする.
予告期問を設けないで印解雇する.行政官庁の認定
を得たときは、労勤基法第20条の解窟手続きによ
る.
第70条前条のに設当する行為があった者に対しては、その処分が決定前におい
ても、必要のある場合は自宅慣を命じることがある.
(懲戎基)
第71条従業員が次の各号の一に該当する場合は、減給スは、出停止に処する.住
し、情状により資にとどめることがある.
13.その他前各号に準ずる行為のあった時
な時
12.会社の物品を無新で持ち出し又は、持ち出そうとしたことが明らか
11.会社の物件を次費し、もしくは他人をしてこれをなさしめた時
10.災害予防及び衍生に関する規川文は指示に違反した時
を無視した時
9.会社の命令に違反し、又は、上長に反抗し、業務上の指示及び計画
8.顧客に対し、業務上不当な行為があった時
日効務の指示に応じない時
7.正当な理由が無く早出、残業、出張、応接、臨時呼び出し又は、休
6.奈行不良で会社内で風紀秩序を乱した時
問中意に自己の場を離れた時
5.みだりに他の職場もしくは禁止された場所に出入りし又は、労価時
を発生させた時
4.業務上の怠慢又は、督不行届きによって災害、傷害その他の事故
3.動務に関する手続きその也の届出をなり、スは、偽った時
2.正当な理由が無く無断欠動し、又はしばしば遅刻早退した時
1.従業の他瞎規定に違反した時
り解雇以外のに処することがある.
第72条従業員が次の各号の一に該当する当合は戎に処する.但し、情状によ
(懲成基隼2)






1.可無く会社施設又は、構内を利用して、政治活並びに集会、放送、
提示、文書、図面の配付、回見、財付、署名既品販売、映写な
どの行為をした時
2.会社の令又は、許可を受けないで在のまま他の事業に従事したり
又は、その他自己の業務、公職に服した時
3.会社の内外を問わず不正又は不法な行をして著しく従業員として体
面を汚した時
4.改意スは重大な過失により、務上のミ要な機を社の内外にらし、
又はらそうとした時
5.業務に関し不正不当の金品その也を授受した時
6.故無く会社業務上の指示、命令に服せずスは、鳳場のを乱した時
7.正当な理白が無く無届け欠が1日以上に及んだ時
8.経歴をり、その曲不正な方法を用いて用された時
9.故意又は、重大な過失により会社に損害を与え、もしくは会社の信用
を倒つけた時
10.他人に蹊行、脅迫を加えて、その業務を防害した時
11.職場上の地位を利用して自分の為に取引及び全品の借入れ又は、リペ
ートを収受した時
12.爪罰法令に違反して、有罪の判決を受けた時.但し、犯罪事実が明白
な時、及び、特別の事情があるときは、起訴された時
13.減給以上の思戎が2回以上に及び、なお改心の見込みのない時
14.他人の物を窃空し、スは、窃空しようとした時
15.前各号の行為につき、これを幇、共、教、スは新動した時
16.その也、前各号に牛ずる行のあった時
第73条1項
(犯加重)
にこれを準用する。
前号の規定は、何時に2種以上の成に当する行為があった場合
い類のより更に1等日くする
2.異なる種類の思戒に敗当する行為をした場合は事情により、その重
1.同一延類の懲成に当する行為をした場合は1等重く愿戒する
合は、次の各号によって取り扱う.
成に処された者が1年以内に更にに当する行為があった場
(損害弁済)
2項
第75条第71条、第72条の各号に当があった時は減額することがある.
(界給及び与企の停止文は、減
せることがある.
第74条前2条の規定により思成の也、会社は蒙った損害の全部スは、一部を弁済さ




(実戀月日)
第76条この就業規則は、平成14年11月1日より実施する.
(効力)
第77粂この就業規則に反するか又は蝮する従の錯規則は、この規則の実施によ
り止され、すべて無効とする.




</pre>


{% endblock %}