body{
	width:100%; /*ページ全体の幅は100%と指定する*/
	text-align:center; /*ページ全体を中央揃えにする*/
}
#wrap{
	width: 1000px;	   /*全体の幅を指定する*/
	margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
	text-align:left;   /*全体を左揃えにする。*/
}




.page-header {
    background-color: #00ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}




h2{
	padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
	color: #494949;/*文字色*/
	background: #f4f4f4;/*背景色*/
	border-left: solid 5px #7db4e6;/*左線*/
	border-bottom: solid 3px #d7d7d7;/*下線*/
}



.content {
    margin-left: 10px;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    font-size: 26pt;
    margin-left: 10px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}


.btnHeader {
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
}
.btns {
    margin: 10px;
}


.btn-box {
	position: relative;
	margin: 2em auto;
	padding: 1.2em;
	width: 90%;
	color: #555555; /* 文字色 */
	background-color: #fff;
	border: 2px solid #9f91f0; /* 枠線の太さ・色 */
	box-shadow: 0 0 5px 2px #ccc4fc inset;/* 影の色 */
}
.btn_box-title {
	position: absolute;
	padding: 0.5em;
	left: 20px;
	top: -15px;
	font-weight: bold;
	background-color:  #fff; /* タイトル背景色 */
	color: #aa91f0; /* タイトル文字色 */
}